article.post-contents {
  margin: 48px 0;
}

.navigation {
  // margin: 0 16px;

  ul {
    display: flex;
    justify-content: space-between;
    flex-direction: row;  

    li {
      max-width: 50%;
      margin: 0 16px;

      a {
        color: #333;
        text-decoration: none;

        span {
          display: block;

          &:first-child {
            color: #666;
            font-size: .75rem;
          }
  
          &:last-child {
            display: block;
          }
        }

        &:hover span:last-child {
          text-decoration: underline;
        }
      }

      &.next a span:first-child {
        text-align: right;
      }
    }  
  }
}

// style={{
//   display: `flex`,
//   flexWrap: `wrap`,
//   justifyContent: `space-between`,
//   listStyle: `none`,
//   padding: 0,
// }}