article.post-contents {
  margin: 48px 0;
}

.navigation {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

// style={{
//   display: `flex`,
//   flexWrap: `wrap`,
//   justifyContent: `space-between`,
//   listStyle: `none`,
//   padding: 0,
// }}