.index {

  h2 {
    font-size: .8rem;
    margin: 16px;
  }

  .each-post {
    a {
      display: block;
      padding: 16px;
      border-radius: 6px;
      color: #333;
      text-decoration: none;
 
      &:hover {
        background: #f0f0f0;
  
        h3 {
          text-decoration: underline;
        }
      }
  
      h3 {
        font-size: 1.1rem;
        font-weight: bold;
      }
  
      p {
        font-size: .8rem;
      }
  
      small {
        color: #666;
        font-size: .8rem;
      }
  
      ul {
        display: inline-block;
        margin: 0 0 0 2px;
        
        li {
          display: inline-block;

          a {
            display: inline-block;
            margin: 0 2px;
            padding: 2px 6px;
            border: .55px solid #666;
            border-radius: 6px;
            font-size: .75rem;
            color: #333;
            text-decoration: none;

            &:hover {
              background: #ccc;
            }
          }
        }
      }
    }
  }
}