.bio {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;

  & > div {
    margin: 16px;
    display: flex;
    align-items: center;

    img {
      margin: 0;
      border-radius: 50%;
    }

    p {
      margin: 0 0 0 16px;

      a {
        color: #333;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}