html {
  font-size: 16px;
}

.layout {

  header.header-index,
  header.header-blog-post {
    width: 90%;
    max-width: 800px;
    margin: 0 auto;

    a {
      color: #333;
      color: #009efd;
      text-decoration: none;
    }
  }

  .contents {
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
  }

  footer {
    width: 100%;
    margin: 0;
    padding: 48px 0 48px;
    // background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);

    small {
      display: block;
      width: 90%;
      max-width: 800px;
      margin: 0 auto;
      font-size: .8rem;
    }
  }
}