html {
  font-size: 16px;
}

.layout {

  header.header-index,
  header.header-blog-post {
    width: 90%;
    max-width: 800px;
    margin: 0 auto;

    a {
      color: #333;
      text-decoration: none;
    }
  }

  .contents {
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
  }
}

// html {
// 	font-size: 16px;
// }

// .contents {
// 	max-width: 800px;
// 	width: 90%;
// 	margin: 48px auto;

// 	color: #333;
// 	a {
// 		color: #009efd;
// 		text-decoration: none;

// 		&:hover {
// 			text-decoration: underline;
// 		}
// 	}

// 	.back-to-home {
// 		margin: 16px 0 0;
// 	}
// }

// footer {
// 	width: 100%;
// 	margin: 0;
// 	padding: 48px 0 48px;
// 	// background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);

// 	small {
// 		display: block;
// 		max-width: 800px;
// 		width: 90%;
// 		margin: 0 auto;
// 		font-size: .8rem;
// 	}
// }